[Desktop Entry]
Name=GGA64Recompiled
Type=Application
Terminal=false
Icon=GGA64Recompiled
Exec=GGA64Recompiled
GenericName=GGA64Recompiled
Categories=Game;

